<p>
  Actions and Triggers are supported by Backup Client. There are four actions and two triggers available.
</p>
<p><strong>Actions:</strong>
  <ul>
    <li>
      <strong>
        Backup website and database
      </strong>
      <p>
        This action is the equivalent of pressing the `Backup Website` button.      </p>
    </li>
    <li>
      <strong>
        Backup database
      </strong>
      <p>
        This action is the equivalent of pressing the `Backup Database` button.
      </p>
    </li>
    <li>
      <strong>
        Remove extra website backups
      </strong>
      <p>
        This action is the equivalent of cron removing extra website backups.
      </p>
    </li>
    <li>
      <strong>
        Remove extra database dumps
      </strong>
      <p>
        This action is the equivalent of cron removing extra database backups.
      </p>
    </li>
  </ul>
</p>
<p><strong>Triggers:</strong>
  <ul>
    <li>
      <strong>
        A website backup is made
      </strong>
      <p>
      </p>
    </li>
    <li>
      <strong>
        A database backup is made
      </strong>
      <p>
      </p>
    </li>
  </ul>
</p>
<p><strong>Hooks and Alters:</strong><br /><i>$parameters</i> is a keyed array of all the configuration options and values of the related function.
  <ul>
    <li>
      <strong>
        A website backup has just been completed.
      </strong>
      <p>
        <pre> module_invoke_all('backup_client', 'tar_backup', $parameters);</pre>
      </p>
    </li>
    <li>
      <strong>
        A database backup is has just been completed.
      </strong>
      <p>
        <pre> module_invoke_all('backup_client', 'mysqldump', $parameters);</pre>
      </p>
    </li>
    <li>
      <strong>
        The list of files to exclude has been built.
      </strong>
      <p>
        <pre> drupal_alter('backup_client_excluded_files', $excluded_files, $parameters);</pre>
      </p>
    </li>
    <li>
      <strong>
        The list of files to include has been built.
      </strong>
      <p>
        <pre> drupal_alter('backup_client_filelist', $filelist,  $parameters);</pre>
      </p>
    </li>
    <li>
      <strong>
        The list of tables for a database backup is about to be returned.
      </strong>
      <p>
        <pre> drupal_alter('backup_client_mysql_tables', $tables, $source);</pre>
      </p>
    </li>
  </ul>
</p>
<p><strong>More Info:</strong><br />
  <a href="http://drupal.org/node/375833">Drupal handbook page on triggers</a><br />
  <a href="http://drupal.org/node/172152">Drupal handbook page on actions</a>
</p>