<p>Pressing the button <input type="submit" value="Backup database"> will backup one or all of your database(s). There are also options to control which databases are backed up, compression, mysqldump parameters, and attach notes.</p>
<p><strong>What happens when I click the button?</strong></p>
<ul>
  <li>
    <strong>The database(s) are backed up</strong>
    <p>Each database will have its contents written into a text file using the mysqldump format. If the compression option is selected then the file will also be compressed.</p>
  </li>
  <li>
    <strong>Logs are updated</strong>
    <p>The information on each backup file are saved in a database table for future reference.</p>
  </li>
  <li>
    <strong>Triggers are called</strong>
    <p>Backup Client supports triggers and after a backup is made the trigger hooks are called.</p>
  </li>
</ul>
<p><strong>Options on this page:</strong></p>
<ul>
  <li>
    <strong>Notes for this website backup</strong>
    <p>Each backup file that is created can have a note attached to it. This leaves a helpful reminder as to why the backup was made.</p>
  </li>
  <li>
    <strong>
      Dump all databases defined in settings.php
    </strong>
    <p>
      If you have multiple databases defined in your settings.php file - Backup Client will create a backup for each database. If you do not select this configuration only the default database will be backed up.
    </p>
  </li>
  <li>
    <strong>GZIP the output</strong>
    <p>If selected the backed up files will be gzip compressed.</p>
  </li>
  <li>
    <strong>Add backup date to site name</strong>
    <p>The title of your website (within the backed up database file) will have the backup date appended to it. If you restore from a database backup - this will allow you to verify which backup you restored from.</p>
  </li>
  <li>
    <strong>Add DROP TABLE statements</strong>
    <p>You can optionally include or exclude this statement within the database backup.</p>
  </li>
  <li>
    <strong>Add CREATE TABLE statements</strong>
    <p>You can optionally include or exclude this statement within the database backup.</p>
  </li>
  <li>
    <strong>Shell command (advanced feature)</strong>
    <p>If Backup Client can find the native mysqldump executable on your webserver it will give you the option of calling it directly to backup your default (ie. Drupal) database.</p>
  </li>
</ul>
