<p><strong>Questions:</strong></p>
<ul>
  <li>
    <strong>The files created by Backup Client module are owned by another user. What is going on?</strong>
    <p>In most server configurations the PHP process is run as another user. This results in files created by PHP scripts (ie. Drupal) to be owned by another user. Backup Client by default sets new files to be only read and written by the user who created them.</p>
  </li>
  <li>
    <strong>How do I delete them?</strong>
    <p>One trick is to use the recurring options: set the number of files to be removed to 1 and run cron.php. This will remove all but the last backup and dump.</p>
  </li>
  <li>
    <strong>What is your standard backup configuration?</strong>
    <p>For our clients we usually backup their entire website each night. Depending on the size of the website we keep 1 to 7 copies on the local webserver. For small websites it is usually no problem to keep a week's worth of copies. We then push a website backup offsite to Amazon S3 weekly and keep 50 copies (ie. a year's worth of backups). Amazon S3 storage is so cheap that even for large sites the offsite storage costs are minimal (especially if you consider the cost of recovery).</p>
  </li>
</ul>
