<p>
<a href="http://drupal.org/project/backup_client_server">Backup Client-Server</a> has been designed to make it easy to backup and archive your complete website. It is comprised of a set of modules that provide both simplicity (a reasonable set of out-of-the-box default settings) and complexity (extensive configuration options and features).
<p>For the latest changes please read the <a href="&topic:backup_client/versions&">&quot;What&rsquo;s new&quot;</a> page.
<p>
</p>
<p><strong>Quick start guide to backing up:</strong>
<ol>
<li><strong>Install Backup Client module</strong><p>If you are reading this via the Advanced Help module you have already installed the Backup Client module -- Congratulations, you are already 1/2 done!</p></li>
<li><strong>Press the button</strong> <input type="submit" value="Backup website" /><p>Goto the <a href="&base_url&admin/build/backupclient">&quot;Website&quot;</a> tab (admin/build/backupclient) and press the "Backup website" button. For a more detailed description of the backup process visit this <a href="&topic:backup_client/website&">help page</a>.</li></p>
</ol>
</p>
<p><strong>Module list and descriptions:</strong>
<ul>
<li><strong>Backup Client</strong><p>Allows you to backup your database and complete website filesystem into a single compressed file. These files can then be easily downloaded to your local machine or other location for safe storage.</p></li>
<li><strong>Backup Client S3</strong><p>Enables you to transfer website backups to Amazon S3 either manually or on a recurring basis.</p></li>
<li><strong>Backup Client Service (coming soon - ie. when we get more free time)</strong><p>Creates a webservice to allow for the monitoring and management of backups remotely.</p></li>
<li><strong>Backup Client Server (coming soon - ie. when we get more free time)</strong><p>Provides a set of tools to monitor and manage multiple websites that have the Backup Client Service enabled.</p></li>
</ul>
</p>
<p><strong>Design goals and background:</strong><p>
<p>This suite of modules was first created to serve our internal website backup needs. We initially used this tool to quickly dump databases, tar the files, and move the entire website to another location for development.</p>
<p>A major goal of ours was to have this code run without making server calls for both the database dump and the creation of tar files. This goal was necessary to make the code as platform independent as possible. Enabling it to run on any operating system and in any type of hosting environment. This was especially useful when we had a client with a Drupal website in a highly restricted hosting environment. We would drop in the Backup Client module, backup the site, download the tar file, and quickly install it locally for debugging and development.</p>
<p>Over time we have added additional features we either use often (offsite backup) or just thought were cool (token support, hooks, actions).</p>
<p>We hope this module is useful to you and look forward to your suggestions (and preferable patches) in the future.</p>
<p>Be safe - backup early, backup often!</p>