<p>
  The majority of options to control Backup Client are located on this page. As with all settings pages you can easily return to the default state by pressing the &quot;Reset to defaults&quot; button.
<p>
</p>
<p><strong>General options:</strong>
<ul>
  <li>
    <strong>
      Location for backup files
    </strong>
    <p>
      This sets the path to where your backups will be saved. By default it is set to a directory named &quot;backup_client&quot; within your Drupal files directory. If you would like to save your files outside of your Drupal install you can use a path like this: <strong><em>../backup_client</em></strong>. If this path is not web accessible then you'll enjoy more security with your backups. But, you will not be able to easily download them via a web browser.
    </p>
  </li>
  <li>
    <strong>
      GZIP the output
    </strong>
    <p>
      If your PHP is complied with the zlib extension then Backup Client can gzip your files and this option will be available to you. Files that are gzip&rsquo;ed will have the extension <strong><em>.gz</em></strong> added.
    </p>
  </li>
  <li>
    <strong>
      Change file permissions to 600 (-rw-------)
    </strong>
    <p>
      This may create errors in some hosting environments. If your are having problems from file permissions try changing this setting. For more information about security please view the <a href="&topic:backup_client/security&">Security</a> help page.
    </p>
  </li>
  <li>
    <strong>
      Add backup date to site name
    </strong>
    <p>The title of your website (within the backed up database file) will have the backup date appended to it. If you restore from a database backup - this will allow you to verify which backup you restored from.</p>
  </li>
  <li>
    <strong>
      Advanced help options
    </strong>
    <p>
      <ul>
        <li>Turn off advanced help: <br />This radio button enables/disables the nagging notice you see on each Backup Client admin page and removes the Advanced help icons from the page titles.</li>
        <li>Open advanced help in new window: <br />This radio button configures Advanced help links to open on a popup window.</li>
        <li>Open advanced help in new page: <br />This radio button configures Advanced help links to open a new page.</li>
      </ul>
    </p>
  </li>
  <li>
    <strong>
      Number of rows in backup tables
    </strong>
    <p>Configures the number of rows for the tables on the Website and Database backup pages.</p>
</ul>
<p><strong>Website backup options:</strong>
<ul>
  <li>
    <strong>
      Token pattern for website backup filenames:
    </strong>
    <p>
      Please be careful when changing the token patterns. You will want to ensure that each file has a unique name. This can be accomplished by adding date info, random characters, and/or sequential numbers. Additionally, if you do not sufficiently randomize your backup filenames, and your files are web accessible (ie. in the files directory), a malicious person could guess the name and download your website backup.
    </p>
    <p>
      Why is this a problem? Within your website backup is your settings.php file and within this are the username and password to your database. For more information about security please view the <a href="&topic:backup_client/security&">Security</a> help page.
    </p>
  </li>
  <li>
    <strong>
      Only include the most recent database backup
    </strong>
    <p>
      Usually you will want only the most recent database backup(s) included in your tar file. But, to be conservative this option is turned off by default.
    </p>
  </li>
  <li>
    <strong>
      Do not include in tar file
    </strong>
    <p>
      Often you will have additional files and/or directories you do not want to include in your backups. You can enter one pattern per line as Drupal paths to exclude files and directories from being included in the website backup tar file. The '*' character is a wildcard. Example: to exclude all the files in the `files` directory use files/*
    </p>
  </li>
</ul>
<p><strong>Datbase backup options:</strong>
<ul>
  <li>
    <strong>
      Token pattern for database backup filenames:
    </strong>
    <p>
      Please be careful when changing the token patterns. You will want to ensure that each file has a unique name. This can be accomplished by adding date info, random characters, and/or sequential numbers. Additionally, if you do not sufficiently randomize your backup filenames, and your files are web accessible (ie. in the files directory), a malicious person could guess the name and download your database backup.
    </p>
  </li>
  <li>
    <strong>
      Dump all databases defined in settings.php
    </strong>
    <p>
      If you have multiple databases defined in your settings.php file - Backup Client will create a backup for each database. If you do not select this configuration only the default database will be backed up.
    </p>
  </li>
  <li>
    <strong>Add DROP TABLE statements</strong>
    <p>You can optionally include or exclude this statement within the database backup.</p>
  </li>
  <li>
    <strong>Add CREATE TABLE statements</strong>
    <p>You can optionally include or exclude this statement within the database backup.</p>
  </li>
  <li>
    <strong>
      Do not backup data from the accesslog, cache, cache_*, and watchdog tables
    </strong>
    <p>
      This configuration can help reduce the size of your databases backups by not backing up the data from selected tables.
    </p>
  </li>
  <li>
    <strong>
      Tables for database backup are determined by:
    </strong>
    <p>When backing up the default database (ie. Drupal's database) there are two methods for determining what tables to backup.
      <ul>
        <li>getting table information via mysql query: <br />This method will backup ALL tables in the database. If you have custom tables and/or are using another application with this database and you want to backup these additional tables, or if a module has not registered its tables with Drupal's schema API - then this option is best.</li>
        <li>getting table information via the Drupal schema API: <br />This method will only backup the database tables that Drupal is aware of. If you have custom tables and/or are using another application with this database and you DO NOT want to backup these additional tables -- then this option is best.</li>
      </ul>
    </p>
  </li>
</ul>
</p>
