<p>
There are three <a href="&base_url&admin/user/permissions">permission settings</a> that can be set for each user role.
<ul>
  <li><strong>access backup client</strong>
    <p>
      Allows users to access the Website and Database pages (ie. they can see and download the backed up files).
    </p>
  </li>
  <li><strong>create backups</strong>
    <p>
      Allows users to create backups.
    </p>
  </li>
  <li><strong>administer backup client</strong>
    <p>
      Allows users to manage the default settings and recurring backup options of Backup Client.
    </p>
  </li>
</ul>
<p>