<p>
  These settings allow you to create and manage scheduled website and database backups as well as remove older backups.
</p>
<strong>
  Allow cron to create and/or remove website and database backups:
</strong>
<p>
  This configuration allow you to turn on/off all the recurring functions of Backup Client.
</p>
<p><strong>Backup options:</strong>
  <ul>
    <li>
      <strong>
        Allow cron to create website backups
      </strong>
      <p>
        Turns on/off backup option. Use frequency options to configure how often cron jobs will initiate a backup.
      </p>
    </li>
    <li>
      <strong>
        Allow cron to create database backups
      </strong>
      <p>
        Turns on/off backup option. Use frequency options to configure how often cron jobs will initiate a backup.
      </p>
    </li>
  </ul>
<p><strong>Removal options:</strong>
  <ul>
    <li>
      <strong>
        Allow cron to remove older website backups
      </strong>
      <p>
        Turns on/off removal option. At each cron job any older website backups above the limit number will be deleted. This happens after cron has created any required backup files. For example - if you choose to keep only one file then immediately after then creation of a new website backup the old file will be deleted.
      </p>
    </li>
    <li>
      <strong>
        Allow cron to remove older database backups
      </strong>
      <p>
        Turns on/off removal option. At each cron job any older database backups above the limit number will be deleted. This happens after cron has created any required backup files. For example - if you choose to keep only one file then immediately after then creation of a new database backup the old files will be deleted.<br /><strong>Note:</strong> The number option is for `backups` not `files` since a single database backup event can create multiple files (if there is more than one database configured).
      </p>
    </li>
    </li>
  </ul>
</p>
<p>
  <strong>Cron, Backup Client, and time calculation:</strong>
<p>
  The trigger for an automatic recurring backup is dependent upon a cron job being initiated. Even though you can choose the hour you would like the backup to occur - the actual time of the backup is dependent upon the time of the cron job. The recurring backup configuration works best if cron is run every hour or more frequently.
</p>
<p>
  To determine when a backup is required Backup Client calculates the next scheduled backup time since the last backup time. If the current cron job time is greater than the next scheduled backup time - a backup is made.
</p>
