<h2>Version 6.x-1.x-dev / April 10th, 2010</h2>
<ul>
  <li>Change overview:
    <ul>
      <li>upgraded to Drupal 6.x</li>
      <li>support for offsite storage of backups</li>
      <li>code divided into smaller units and modules</li>
      <li>support for multiple databases</li>
      <li>improved recurring scheduling</li>
      <li>drush support</li>
      <li>actions support</li>
      <li>trigger support</li>
      <li>token support</li>
      <li>status message support</li>
      <li>hook and hook_alter support</li>
      <li>advanced help support - including video tutorials</li>
      <li>improved security options</li>
      <li>additional database dump options</li>
      <li>additional website backup options</li>
      <li>more granular permissions</li>
      <li>improved tar creation (no more <a href="http://en.wikipedia.org/wiki/Tar_(file_format)#Tarbomb">tarbombs</a>)</li>
    </ul>
  </li>
  <li>Website backup changes:
    <ul>
      <li>tar files are now placed inside their root path (ie. if your website is under public_html then the tar files are also under this path - and thus when you unpack the tar file you will not get a tar bomb)</li>
      <li>tokens are used to define the website backup filename</li>
      <li>tar files are now have their permissions restricted to 600</li>
      <li>.htaccess file added to backup directory to prevent listings.</li>
      <li>files and file patterns can be excluded from the website backup tar file</li>
    </ul>
  </li>
  <li>MySQLdump options:
    <ul>
      <li>cache and other non-essential table data can be excluded from the database dumps</li>
      <li>support for multiple databases</li>
      <li>option to dump all tables in database or only those specified by Drupal Schema</li>
    </ul>
  </li>
  <li>Amazon S3 upload:
    <ul>
      <li>user controlled upload of most recent backup to Amazon S3</li>
      <li>recurring cron job triggered upload to Amazon S3</li>
      <li>recurring cron job triggered deletion of old files on Amazon S3</li>
    </ul>
  </li>
</ul>
<h2>Version 5.x-1.x-dev / July 12, 2008</h2>
<p>Provides PHP based tar and mysqldump functionality and is intended to be platform independent. Several additional features have been added to the stock tar and mysqldump functions:</p>
<ul>
  <li>scheduled backups and mysql dumps can be triggered by cron</li>
  <li>notes can be associated with each tar backup or mysqldump file</li>
  <li>limits on the number of backups and mysqldump files can be set by automatic deletion of old files</li>
  <li>gzip library testing and graceful degradation</li>
  <li>backups can be triggered remotely using XML-RPC</li>
  <li>Site information can be sent to another server via XML-RPC</li>
  <li>tar backup options:
  <ul>
    <li>backups can be GZIPed</li>
    <li>backup date can be added to site name</li>
    <li>mysqldump files to be included can be limited to most recent</li>
  </ul>
  </li>
  <li>mysqldump options:
    <ul>
    <li>dumps can be: saved to the server, downloaded to your desktop, or directed to the browser</li>
    <li>dumps can be GZIPed</li>
    <li>addition or removal of DROP TABLE and CREATE TABLE statements</li>
    <li>system call to mysqldump function can be used if available</li>
    <li>individual tables can be dumped in CSV format</li>
    <li>CSV delimiter and header addition options</li>
    </ul>
  </li>
</ul>
<!-- Template for changes
<h2>title</h2>
<p>overview</p>
<ul>
  <li>section
    <ul>
      <li>item</li>
    </ul>
  </li>
</ul>
-->