<p>Pressing the button <input type="submit" value="Backup website"> will backup your entire website (including your databases). There are options to control file compression, altering the name of the backed-up website, and how many backups to include into the backup.</p>
<p><strong>So, what happens when I click the button?</strong></p>
<ol>
  <li>
    <strong>Database(s) are dumped</strong>
    <p>The data from each of your databases(s) is converted portable mysqldump formatted text files. For each database backed up a file will be created and saved into the Backup Client backup directory.</p>
  </li>
  <li>
    <strong>Tar file is created</strong>
    <p>A <a href="http://en.wikipedia.org/wiki/Tar_(file_format)">tar file</a> is created that contains all the files of your website (this will include the previously backed up databases). Previous tar backups are excluded. Additionally, you can exclude all but the most recent database backups and additional files that match patterns of your choice.</p>
  </li>
  <li>
    <strong>Logs are updated</strong>
    <p>The information on each backup file are saved in a database table for future reference.</p>
  </li>
  <li>
    <strong>Triggers are called</strong>
    <p>Backup Client supports triggers and after a backup is made the trigger hooks are called.</p>
  </li>
</ol>
<p><strong>Options on this page:</strong></p>
<ul>
  <li>
    <strong>Notes for this website backup</strong>
    <p>Each backup file that is created can have a note attached to it. This leaves a helpful reminder as to why the backup was made.</p>
  </li>
  <li>
    <strong>GZIP the output</strong>
    <p>If selected the backed up files will be gzip compressed.</p>
  </li>
  <li>
    <strong>Add backup date to site name</strong>
    <p>The title of your website (within the backed up database file) will have the backup date appended to it. If you restore from a database backup - this will allow you to verify which backup you restored from.</p>
  </li>
  <li>
    <strong>Only include the most recent database backup</strong>
    <p>Usually you will want only the most recent database backup(s) included in your tar file. But, to be conservative this option is turned off by default.</p>
  </li>
</ul>
