
/**
* @file backup_client.css
*   CSS to theme Backup Client admin pages
*/

.advanced-help-link {
  display: inline-block;
  float: none;
  margin-left: 5px;
}

.bc-date-form {
  background-color: #eee;
  margin-left: 25px;
}

.bc-date-form .form-item {
  margin-right: 20px;
}

.bc-date-form .form-item,
.bc-date-form .form-item label,
.bc-date-form .form-checkboxes {
  display: inline;
}
