<p><strong>Questions:</strong>
<ul>
<li><strong>The files created by Backup Client module are owned by another user. What is going on?</strong><p>In most server configurations the PHP process is run as another user. This results in files created by PHP scripts (ie. Drupal) to be owned by another user. Backup Client by default sets new files to be only read and written by the user who created them.</p></li>
<li><strong>How do I delete them?</strong><p>One trick is to use the recurring options: set the number of files to be removed to 1 and run cron.php. This will remove all but the last backup and dump.</p></li>
</p>