<p>
  Actions and Triggers are supported by Backup Client. There are four actions and two triggers available.
</p>
<p><strong>Actions:</strong>
  <ul>
    <li>
      <strong>
        Upload latest website backup to Amazon S3
      </strong>
      <p>
        This action is the equivalent of pressing the `Upload latest backup now` button.
      </p>
    </li>
    <li>
      <strong>
        Delete excess files from Amazon S3
      </strong>
      <p>
        This action is the equivalent of cron removing excess files from Amazon S3.
      </p>
    </li>
  </ul>
</p>
<p><strong>Triggers:</strong>
  <ul>
    <li>
      <strong>
        A website backup is uploaded to Amazon S3
      </strong>
      <p>
      </p>
    </li>
  </ul>
</p>
<p><strong>Hooks and Alters:</strong>
  <ul>
    <li>
      <strong>
        A website backup is uploaded to Amazon S3
      </strong>
      <p>
        <pre> module_invoke_all('backup_client_s3', 's3upload', $filename);</pre>
      </p>
    </li>
  </ul>
</p>
