<p>
Backup Client S3 has been designed to make it easy to move your website backups to a offsite storage (it doesn't do any good to backup your website locally if your webserver dies).
</p>
<p><strong>Quick start guide to offsite storage:</strong>
<ol>
<li><strong>Go get an Amazon S3 account</strong><p>All you need is some patience with Amazon's confusing menus and a credit card. There is no money up front so you can try it out for a while and see how it goes. Our first month's bill was US$0.34 (and we uploaded a lot of test backups). Your goal is to get two keys from Amazon: an `Access Key` and a 'Secret access key`. Trust me, it is worth the effort. Start by visiting the <a href="http://aws.amazon.com/s3/">Amazon S3 landing page</a>.</p></li>
<li><strong>Configure Backup Client S3</strong><p>You'll need the two keys above. Type them in and press `Save Configuration` on this <a href="&base_url&admin/build/backupclient/configuration/s3">page</a>.</p></li>
<li><strong>Press the button <input type="submit" value="Upload latest backup now" /></strong><p>Goto the <a href="&base_url&admin/build/backupclient/s3">&quot;Amazon S3&quot;</a> tab (admin/build/backupclient/s3) and press the "Upload latest backup now" button. </li></p>
</ol>
</p>
<p>We hope this module is useful to you and look forward to your suggestions (and preferable patches) in the future.</p>
<p>Be safe - backup early, backup often!</p>