<p>These configurations allow you to connect to Amazon S3, define your `bucket`, and manage scheduled website backups as well as remove older backups.</p>
<p><strong>S3 configuration:</strong></p>
<ul>
  <li>
    <strong>Access key</strong>
    <p>This key is provided to you by Amazon when you create an S3 account.</p>
  </li>
  <li>
    <strong>Secret access key</strong>
    <p>This key is provided to you by Amazon when you create an S3 account.</p>
  </li>
  <li>
    <strong>Name of bucket (directory) to upload into</strong>
    <p>Backup Client S3 will create this bucket for you. Amazon S3 has particular requirements (the name of the bucket needs to be unique across all of S3) and character usage (your input will be filtered to ensure compliance). If you plan to backup multiple websites into the same Account then it is a good practice to have the bucket name include your website's URL.</p>
  </li>
  <li>
    <strong>Use SSL to communicate with Amazon S3</strong>
    <p>If your website is having difficulties connecting even though you have correctly entered your access and secret key you may need to disable SSL and/or correct your sever settings. You may also need to save this option as unchecked before entering your keys.</p>
  </li>
</ul>
<p><strong>Allow cron to upload and/or remove Amazon S3 uploads:</strong><br />This configuration allow you to turn on/off all the recurring functions of Backup Client S3.</p>
<p><strong>S3 upload options:</strong></p>
<ul>
  <li>
    <strong>Allow cron to upload backups to Amazon S3</strong>
    <p>Turns on/off backup option. Use frequency options to configure how often cron jobs will initiate an upload to Amazon S3.</p>
  </li>
</ul>
<p><strong>S3 removal options:</strong></p>
<ul>
  <li>
    <strong>Allow cron to remove old S3 upload files</strong>
    <p>Turns on/off removal option. At each cron job any older website backups stored in the bucket above the limit number will be deleted. This happens after cron has uploaded any required backup files. For example - if you choose to keep only one file then immediately after then creation of a new website backup the old file will be deleted.</p>
  </li>
</ul>
