<p>This page allows you to add a website to be monitored.</p>
<p><strong>Parameters:</strong></p>
<ul>
  <li><strong>Site name</strong><p>This name will be listed for the website on the overview page and detail pages.</p></li>
  <li><strong>Site URL</strong><p>The complete base URL of the website (ie. http://example.com or http://example.com/drupal-subdomain or http://localhost:8888/backup-client.</p></li>
  <li><strong>Username</strong><p>This is the username of a user account on the website to be monitored. This user should have the <a href="&amp;base_url&amp;admin/user/permissions">user permission</a> "access backup client services".</p></li>
  <li><strong>Username password</strong><p>Password for the above user.</p></li>
</ul>
