<p><a href="http://drupal.org/project/backup_client_server">Backup Server</a> has been designed to make it easy monitor one or more website's backup status as well as additional parameters including: Apache/PHP settings, Backup Client module configuration, installed module status, MySQL server statistics, and node and user creation histories.</p>
<p>For the latest changes please read the <a href="&amp;topic:backup_client/versions&amp;">"What&rsquo;s new"</a> page.</p>
<p><strong>Quick start guide to monitoring a site:</strong></p>
<ol>
  <li><strong>Install Backup Server module</strong> (this can be the same website or another)</li>
  <li>
    <strong>Configure a website to be monitored</strong>
    <ol>
      <li>Make sure Backup Client Service module is enabled.</li>
      <li>Goto the <a href="&amp;base_url&amp;admin/build/backupclient/configuration/client">"Client &lt;-&gt; Server"</a> tab (admin/build/backupclient/configuration/client).</li>
      <li>Allow external servers access to Backup Client.</li>
      <li>Allow external server to retrieve backup information.</li>
      <li>For the user account that will be used to access the site: grant the <a href="&amp;base_url&amp;admin/user/permissions">user permission</a> "access backup client services".</li>
    </ol>
  </li>
  <li>
    <strong>Add website to monitor</strong>
    <p>Goto the <a href="&amp;base_url&amp;admin/build/backupserver/add">"Add"</a> tab (admin/build/backupserver/add) and enter the information about the website you want to monitor. Note: if this website is properly configured it can monitor itself.</p>
  </li>
  <li>
    <strong>Update the information about the site</strong>
    <p>From the <a href="&amp;base_url&amp;admin/build/backupserver">Backup Server overview</a> page select the "Update" link in the Administration table column.</p>
  </li>
</ol>
<p><strong>Design goals and background:</strong></p>
<p><a href="http://www.fivepaths.com">FivePaths</a> was spending a lot of time keeping all their client websites up to date. We found that a lot of this work was repetitive and could be automated. Our goal was to make it easy to get a quick snapshot of a website's configuration and status. From these efforts this module emerged.</p>
