<p>This page allows you to get a quick snapshot of how all your website are doing.</p><p>For help setting up this module please look over the <a href="&topic:backup_server/introduction&">"Quick Start Guide"</a>.
<p><strong>Status columns:</strong></p>
<ul>
  <li><strong>Backup</strong><p>The most recent backup. Limits are configurable <a href="&amp;base_url&amp;admin/build/backupserver/settings">here.</a></p></li>
  <li><strong>Amazon S3</strong><p>Reports on the most recent Amazon S3 upload.  Limits are configurable <a href="&amp;base_url&amp;admin/build/backupserver/settings">here.</a></p></li>
  <li><strong>Status</strong><p>Aggregates all status information, added additional items to monitor, and reports the most severe status.</p></li>
  <li><strong>Modules</strong><p>Aggregates all status information for all installed modules and reports the most severe status.</p></li>
  <li><strong>Last update</strong><p>The number of hours since the website was polled for new information.</p></li>
</ul>
<p><strong>Administration column:</strong></p>
<ul>
  <li><strong>Update</strong><p>Selecting this link will trigger a request for new information from the website.</p></li>
  <li><strong>Edit</strong><p>Change information about this website.</p></li>
  <li><strong>Delete</strong><p>Remove this website from the list to be monitored. (Note: this will also remove all collected data).</p></li>
</ul>
