<p>
  These settings allow you configure limits for Backup Server.
</p>
<strong>
  Overview limits:
</strong>
<p>
  These configurations determine the warning and error thresholds for various parameters.
</p>
